{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
    <script type="text/javascript">
       function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result)
                        .width()
                        .height(200);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
</script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximu<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Attendence System</title>
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="{%static 'css/bootstrap.css' %}" rel="stylesheet" />
    <!-- FONT AWESOME CSS -->
    <link href="{%static  'css/font-awesome.min.css' %}" rel="stylesheet" />
     <!-- FLEXSLIDER CSS -->
    <link href="{% static  'css/flexslider.css' %}" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="{% static  'css/style.css' %}" rel="stylesheet" />    
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css' />
</head>
<body >
   
 <div class="navbar navbar-inverse navbar-fixed-top " id="menu">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img class="logo-custom" src="assets/img/logo180-50.png" alt=""  /></a>
            </div>
            <div class="navbar-collapse collapse move-me">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'identify_face' %}">UPDATE ATTENDANCE</a></li>
                    <li><a href="{% url 'create_person_face' %}">ADD STUDENT</a></li>
                    <li><a href="{% url 'add_person_face' %}">EDIT STUDENT</a></li>
                    <li><a href="{% url 'training' %}">TRAIN SYSTEM</a></li>
                </ul>
            </div>
           
        </div>
    </div>
      <!--NAVBAR SECTION END-->   
         <div id="update-sec" class="container set-pad" >
             <div class="row text-center">
                 <div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                     <h1 data-scroll-reveal="enter from the bottom after 0.2s"  class="header-line">UPDATE ATTENDENCE </h1>
                     <p data-scroll-reveal="enter from the bottom after 0.3s" >    
                 </div>

             </div>
             <!--UPDATE ATTENDENCE HADER LINE END-->

            <div class="row" >
           <div class="row set-row-pad"  data-scroll-reveal="enter from the bottom after 0.5s" >
           
               
                 <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                    
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <b>SEMESTER</b>
                        <div class="form-group">
                            <select class="form-control" name = "student_sem">
                              <option value="1">First Semester</option>
                              <option value="2">Second Semester</option>
                              <option value="3">Third Semester</option>
                              <option value="4">Fourth Semester</option>
                              <option value="5">Fifth Semester</option>
                              <option value="6">Sixth Semester</option>
                              <option value="7">Seventh Semester</option>
                              <option value="8">Eighth Semester</option>
                            </select> 
                        </div>
                        <b>DEPARTMENT</b>
                        <div class="form-group">
                            <select class="form-control" name= "student_department">
                              <option value="cse">Computer Science</option>
                              <option value="ise">Information Science</option>
                              <option value="eee">Electrical Engineering</option>
                              <option value="ece">Electronic Engineering</option>
                              <option value="mec">Mechanical Engineering</option>
                              <option value="ase">Aerospace Engineering</option>
                            </select> 
                        </div>
                        <b>UPLOAD</b>
                        <div class="form-group">
                            <input type="file" class="form-control" name="face" onchange="readURL(this);">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-info btn-block btn-lg">SUBMIT</button>
                        </div>
        
            {% if output %}
  <h1><center>Identified People</center></h1>
  <center>
  <img id="blah" src="#" alt="your image" />
  <table cellspacing="20" aligh="center">

  <tr ><td><b>Name</b> </td><td><b>Usn</b></td><td><b>Confidence</b></td></tr>
  <tr width="600" ></tr>

<p>
    <p> {% for i in output %}
    <tr><td width="400">{{i.0}}</td><td width="400">{{i.1}}</td><td width="400">{{i.2}}</td></tr>
    {%endfor %}
    </p>


    </p></table>
    </center>

  {% endif %}
                    </form>

                </div>
              </div>
   <!-- UPDATE ATTENDENCE SECTION END-->
   <script src="{%static 'js/bootstrap.js' %}"></script>
    <!--  Flexslider Scripts --> 
    <script src="{%static 'js/jquery.flexslider.js' %}"></script>
     <!--  Scrolling Reveal Script -->
    <script src="{%static 'js/scrollReveal.js' %}"></script>
    <!--  Scroll Scripts --> 
    <script src="{%static 'js/jquery.easing.min.js' %}"></script>
    <!--  Custom Scripts --> 
    <script src="{%static 'js/custom.js' %}"></script></script>
</body>
</html>
